// -----------------------------------------------------------------------------
// Arrows
// -----------------------------------------------------------------------------
//
//    This arrow will be at the top pointing up
//    <div>
//        <i class='arrow arrow--top'></i>
//    </div>
//
//    This arrow will be at the bottom pointing down
//    <div>
//        <i class='arrow arrow--bottom'></i>
//    </div>

// !IMPORTANT - Parent element must be `position:relative;`

$color-arrow: red;
$size-arrow: 1rem;

%arrow {
    display:block;
    position:absolute;
    top:0; left:0;
    border-color: transparent;
    border-style: solid;
    border-width: $size-arrow;
    height: 0;
    width: 0;
}

.arrow {
    @extend %arrow;

    &.arrow--top {
        top: -$size-arrow + .0625; // .0625 = 1px
        border-top-width: 0;
        border-bottom: $size-arrow solid $color-arrow;
    }
    &.arrow--bottom {
        top:auto;
        bottom: -$size-arrow + .0625;
        border-bottom-width: 0;
        border-top: $size-arrow solid $color-arrow;
    }
    &.arrow--left {
        left: -$size-arrow + .0625;
        border-left-width: 0;
        border-right: $size-arrow solid $color-arrow;
    }
    &.arrow--right {
        left:auto;
        right: -$size-arrow + .0625;
        border-right-width: 0;
        border-left: $size-arrow solid $color-arrow;
    }
}

// Arrows are positioned `left:0` by default,
// these classes need to be applied to reposition them.

    // Center
    .arrow--top.arrow--center,
    .arrow--bottom.arrow--center {
        left:50%;
        transform: translateX(-50%);
    }

    .arrow--left.arrow--center,
    .arrow--right.arrow--center {
        top:50%;
        transform: translateY(-50%);
    }

    // Right / Bottom
    .arrow--top.arrow--rightside,
    .arrow--bottom.arrow--rightside {
        right:0;
        left:auto;
    }

    .arrow--left.arrow--bottom,
    .arrow--right.arrow--bottom {
        top:auto;
        bottom:0;
    }