// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
// 1. Allow us to better style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Stop buttons wrapping and looking broken.
// 4. Make buttons inherit font styles.
// 5. Force all elements using buttons to appear clickable.
// 6. Normalise box model styles.
// 7. If the button’s text is 1em, and the button is (2.5 * font-size) tall, then
//    there is 1em of space above and below that text. We therefore apply 1em
//    of space to the left and right, as padding, to keep consistent spacing.
// 8. Basic cosmetics for default buttons. Change or override at will.
// 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.

$padding: 1em;


%btn {
    @extend %inline-block;                          // [1]
    padding-top: 0;                                 // [6]
    padding-right: $padding;                        // [7]
    padding-bottom: 0;                              // [6]
    padding-left: $padding;                         // [7]
    margin: inherit 0 0;                            // [6]
    font-family: inherit;                           // [4]
    line-height: 2.5;                               // [7]
    white-space: nowrap;                            // [3]
    vertical-align: middle;                         // [2]
    cursor: pointer;                                // [5]
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: $padding / 4;
    -webkit-user-select: none; /* for button */
           -moz-user-select: none;
            -ms-user-select: none;
    &,
    &:hover {
        text-decoration: none;   // [9]
    }
    &:active,
    &:focus {
        outline: solid 3px $color-focus;
    }
}

.btn {
    @extend %btn;
}

.btn--disabled {
    pointer-events: none;
    cursor: default;
}


// Double the padding for a wider button. Useful when the primary CTA is
// a short word, but everyone wants the button to be visually prominent.
.btn--wide {
    padding-right: $padding * 2;
    padding-left: $padding * 2;
}

.btn--block {
    width: 100%;
    margin-top: 1rem;
}
