// -----------------------------------------------------------------------------
// Base form styles
// -----------------------------------------------------------------------------
//
// Default Form field layout
// <div class="fieldset">
//      <label>Name</label>
//      <input type="text" name="name" id="name" />
// </div>
//
// Extra Form Controls for specific <input />
// 
// ------------------------------------------------------------------
// | Form control           | Input type or kind
// ------------------------------------------------------------------
// | maxlength="255"        | text / email / url / tel
// ------------------------------------------------------------------
// | autocorrect="off"      | text / email / url / tel
// ------------------------------------------------------------------
// | autocomplete="name"    | text / email / url / tel
// ------------------------------------------------------------------
// | pattern="[0-9]*"       | On type="text" for Credit cards / Zip codes
//                          | Forces a number keyboard
// ------------------------------------------------------------------
// | placeholder="name"     | text / email / tel / textarea / url
// ------------------------------------------------------------------
// | autocapitalize="off"   | email / password
// ------------------------------------------------------------------

// Resources:
// HTML5 code and demos for input type: http://baymard.com/labs/touch-keyboard-types
// Autocomplete: https://html.spec.whatwg.org/multipage/forms.html#attr-fe-autocomplete
// Form standards: https://html.spec.whatwg.org/multipage/forms.html


$color-field-color: #333;
$color-field-border: #ccc;
$color-field-background: #fff;
$color-field-error: #e30013;
$color-field-focus: #66afe9;
$color-field-disabled: #c0c0c0;
$color-white-opacity-0075: rgba(0, 0, 0, .075);

// Resetting input styling.
%reset {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: none;

    outline: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

fieldset,
.fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.field,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
textarea {
    @extend %reset;

    display: block;
    width:100%;
    padding: .5em .75em;
    background-color: $color-field-background;
    border: 1px solid $color-field-border;
    color: $color-field-color;
    font-size: 1rem;
    line-height: inherit;

    transition: border-color ease-in-out .15s;

    &:focus {
        border-color: $color-field-focus;
    }

    &.-error {
        border-color: $color-field-error;
    }

    &:disabled,
    &[disabled] {
        background-color: lighten($color-field-background, 10);
        border-color: lighten($color-field-border, 5);
        color: $color-field-disabled;
        pointer-events: none;
        cursor: default;
    }
}

// Specific Fields

input[type="text"] {
    text-transform: capitalize;
}

input[type="submit"] {
    @extend %btn;
}

.touchevents input[type="date"],
.touchevents input[type="datetime-local"],
.touch input[type="date"],
.touch input[type="datetime-local"], {
    height: 43px; // Input height
}
