.scrollable {
    overflow: auto;

    -webkit-overflow-scrolling: touch;
}

.scrollable-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollable-vertical {
    overflow-x: hidden;
    overflow-y: auto;
}
