// -----------------------------------------------------------------------------
// Icon with text
// -----------------------------------------------------------------------------
//
// A skeumorphic tag
//
// <span class="tag">Graffiti</span>

$color-tags: #aaa;

%tag {
    @extend %btn;

    position: relative;
    margin-right: .5em;
    margin-bottom: .75em;
    margin-left: .5em;
    font-size: .75rem;
    line-height: 1.4;
    color: $color-white;
    text-transform: capitalize;
    background: $color-tags;
    border-radius: .25em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &:before {
        position: absolute;
        top: 0;
        right: 100%;
        border: solid transparent 1.2em;
        border-right: solid .6em $color-tags;
        content: '';
    }

    &:after {
        position: absolute;
        top: 50%;
        right: 100%;
        width: 5px;
        height: 5px;
        margin-top: -3px;
        margin-right: -10px;
        background: lighten($color-tags, 10%);
        border-radius: 20em;
        content: '';
    }

    &:hover {
        color: $color-white;
        background: darken($color-tags, 10%);

        &:before {
            border-right-color: darken($color-tags, 10%);
        }
    }
}


.tag {
    @extend %tag;
}

.tag--ghost,
.tag {
    .-ghost {
        opacity: .5;
    }
}
